@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #09090b;
  color: #fafafa;
  font-family: 'Inter', system-ui, sans-serif;
  /* THE SECRET SAUCE: Tight text and smooth fonts */
  letter-spacing: -0.025em; 
  -webkit-font-smoothing: antialiased;
  
}
/* Make the scrollbar look premium */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

.bg-grid {
  background-size: 40px 40px;
}

.bg-dots {
  background-size: 20px 20px;
}